<!-- Footer -->
<footer class="page-footer font-small bgFooter pt-4 mt-5">

    <!-- Footer Elements -->
         <!-- Footer divido em 3 colunas -->
    <div class="container">
        <div class="row">
            
            <div class="col-md-4 py-3">
                <p><a href="/perguntasFrequentes" class="text-white"><b>Perguntas Frequentes</b></a></p>
                <p><a href="/politicaPrivacidade" class="text-white"><b>Política de privacidade</b></a></p>
            </div>

            <div class="col-md-4">
                
            </div>


            <div class="col-md-4">
                <div class="d-flex justify-content-center">

                    <ul class="social-network">
                        <h4 class="text-white"><b>Nossos canais</b></h4>
                        <li><a href="https://www.facebook.com/" target="_blank" class="icoFacebook" title="Facebook">
                                <fa-icon [icon]="faFacebook" class="faFacebook fa-3x p-3"></fa-icon>
                            </a></li>
                        <li><a href="https://www.instagram.com/rodrigolazaro.14/" target="_blank" class="icoInstagram"
                                title="Instagram">
                                <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
                            </a></li>
                    </ul>   
                </div>
               
            </div>
            
             <!-- Copyright -->
             <div class="col-md-12 d-flex justify-content-center">
                <div class="footer-copyright py-5">
                    <hr>
                    <span class="text-black"> @Copy 2020 Myhospital </span>
                    <a class="text-light" href=""></a>
                </div>
               </div>
            <!-- /Copyright -->
        </div>

    </div>


   

   

</footer>
