/* footer social icons */

ul.social-network {
	list-style: none;
	display: inline;

	padding: 0;
}

ul.social-network li {
	display: inline;
	margin: 0;
	padding: 5px;
}

.faFacebook, .faLinkedin, .faInstagram{
	color: white;
}

.faFacebook:hover{
	color: #3b5998;
}

.faLinkedin:hover{
	color: #0072b1;
}

.faInstagram:hover{

    
	color: #C13584;
}

 
.bgFooter{ 
    background:-webkit-linear-gradient(#00d2ff, #0088CC, #3a7bd5) ;
}

.hr{
  border-color: white;
  margin-left: .5em;
}

/*------------------------------*/
.mp0{
    margin:0;
    padding:0;
}

html, body {height:100%;}

.geral {
    min-height:100%;
    position:relative;
    width:800px;
}

.footer {
    position: static ;
    bottom:0;
    width:100%;
}

.content {overflow:hidden;}
.aside {width:100%;}
.fleft {float:left;}
.fright {float:right;}
