<!-- CADASTRO CATEGORIA -->
<div class="col-md-8 container mt-3">

    <div class="container">
        <h3 class="text-center mb-5">Cadastre uma especialidade</h3>

        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" placeholder="Digite aqui a especialidade"
                [(ngModel)]='categoria.nomeCategoria'>
        </div>

        <div class="form-group">
            <label for="descricao">Descrição:</label>
            <input type="text" class="form-control" id="descricao" placeholder="Digite aqui a descrição"
                [(ngModel)]='categoria.descricaoCategoria'>
        </div>

        <div class="form-group">
            <label for="preco" >Preço: </label>
            <input type="number" class="form-control" id="preco" placeholder="Digite aqui o preço"
                [(ngModel)]='categoria.precoCategoria'>
        </div>
    </div>


    <div class="container mb-5">
        <div class="row d-flex align-items-end">

            <div class="col-md-6">
                <div class="form-group m-0">
                    <label for="hospital">Escolha um hospital:</label>
                    <select name="hospital" id='hospital' class="form-control" [(ngModel)]='idHospitais'
                        (change)='findByIdHospital()'>
                        <option *ngFor='let item of listaHospital' value={{item.idHospital}}>
                            {{item.nomeHospital}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-md-6 d-flex justify-content-end">
                <button type="button" class="btn btn-outline-info w-25" (click)='publicar()'>Publicar</button>
            </div>

        </div>
    </div>

    <!-- /CADASTRO CATEGORIA -->

    <!-- GET ALL - JEITO DO ERSO -->
    <div class="container col-md-12 mt-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Preço</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of listaCategoria">   
                    <th scope="row">{{i.idCategoria}}</th>
                    <td>{{i.nomeCategoria}}</td>
                    <td>{{i.precoCategoria|currency:"BRL"}}</td>
                    <button class="btn btn-outline-danger ml-3" [routerLink]="['/delete-categoria', i.idCategoria]">
                        Apagar
                    </button>

                    <button class="btn btn-outline-info ml-3" [routerLink]="['/put-categoria', i.idCategoria]">
                        Editar
                    </button>
     
    </tr>
    </tbody>
    </table>
</div>

</div>
<!-- /GET ALL - JEITO DO ERSO -->