<div class="container">

    <div class="row">

        <div class="col-md-8">

            <h3 class="text-center mb-4 text-monospace">Cadastre suas especialidades</h3>
            <div class="row">
                <div class="form-group">
                    <label class="text-monospace" for="especialidade">Especialidade</label>
                    <input type="text" class="form-control" id="especialidade" placeholder="Digite aqui o nome da especialidade" [(ngModel)]='categoria.nomeCategoria'>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="text-monospace" for="descricao">Descrição</label>
                    <input type="text" class="form-control" id="descricao" placeholder="Digite aqui a descrição" [(ngModel)]='categoria.descricaoCategoria'>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="text-monospace" for="valor">Valor</label>
                    <input type="text" class="form-control" id="valor" placeholder="Digite aqui o valor da consulta" [(ngModel)]='categoria.precoCategoria'>
                </div>
            </div>

            <div class="row d-flex align-items-end">

                <div class="col-md-4 d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-info w-100" (click)='publicarEspecialidades()'> Publicar</button>
                </div>
            </div>

            <hr class="mt-5 mb-5">

            <nav class="d-flex justify-content-center">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">

                    <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-home-tab" data-toggle="tab" href="#minhas-especialidades" role="tab" aria-controls="nav-home" aria-selected="true">Minhas Especialidades</a>

                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">

                <div class="tab-pane fade show active" id="minhas-especialidades" role="tabpanel" aria-labelledby="nav-postagens-tab">
                    <div class="row mt-3 mb-3">
                        <div class="col-md-10 pr-0">
                            <input class="form-control w-100" type="search" placeholder="Pesquisar especialidade" aria-label="Pesquisar">
                        </div>
                        <div class="col-md-2 pl-0">
                            <button class="btn btn-outline-warning w-100" type="button">Pesquisar</button>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <th>ID Categoraia</th>
                        <th>nome Categoria</th>
                    </thead>
                    <tbody>

                        <tr *ngFor="let i of listaCategoria">
                            <td>{{i.idCategoria}}</td>
                            <td>{{i.nomeCategoria}}</td>
                        </tr>

                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>