<div class="container">
    <br>
    <br>
    <br>
    <br>
    <h3 class="font-weight-bold">Política de Privacidade</h3>
    <p class="text-justify">​O MyHospital desenvolveu esta Política de Privacidade para informá-lo sobre o
    uso e divulgação de informações pessoais (como seu nome, endereço, e-mail, telefone, etc.) fornecidas ao se
    cadastrar no site.
    O MyHospital não registra suas informações pessoais, a não ser que você as forneça voluntariamente por meio do
    cadastramento no site.</p>
    <br>
    <br>
    <h3 class="font-weight-bold">Uso das Informações</h3>
    <p class="text-justify">O MyHospital usa suas informações pessoais para adequar o site às suas preferências, para prover os serviços solicitados por você e enviar-lhe informações sobre produtos e serviços. Ao se cadastrar no MyHospital, você pode ter a segurança e a confiança de estar se cadastrando em uma plataforma segura.
        <br>
        O MyHospital jamais venderá suas informações pessoais a terceiros ou as utilizará sem a sua prévia autorização.</p>
        <br>
        <br>
        <h3 class="font-weight-bold">Como nós protegemos suas informações pessoais</h3>
        <p class="text-justify">O MyHospital trabalha com medidas técnicas avançadas de segurança para proteger suas informações pessoais. Todavia, nenhuma transmissão pela Internet pode ser garantida como completamente segura. Consequentemente o MyHospital, suas empresas parceiras e afins, terceiros, provedores de serviços e seus respectivos representantes e desenvolvedores não representam, autorizam ou garantem que informações pessoais estarão protegidas contra invasão de "hackers".</p>
        <br>
        <br>
        <br>
        <br>
        
</div>