<div class="container-justify-content-center col-md-8 p-3 offset-md-4">
  
 


        
  <form>
        <!--regiao-->

        <div class="form-group col-md-7">
        
          <H3 class="mt-5  text-justify  text-monospace "> Pesquise hospitais próximos a você:</H3>
       
          <label for="inputState" class="text-monospace" class="mt-5">Região:</label>
          <select id="inputState" class="form-control" [(ngModel)]='enderecoHospital' (change)='findByIdHospital()'>
            <option *ngFor='let item of listaHospitais' value={{item.idHospital}}>
                {{item.enderecoHospital}}  </option>
          </select>
      
        </div>
  

    <!--/regiao-->


    <!--nomeHosp-->

    <div class="form-group col-md-7">
        <label for="inputState" class="text-monospace">Nome Hospital:</label>
        <select id="inputState" class="form-control" [(ngModel)]='idHospital' (change)='findByIdHospital()'>
          <option *ngFor='let item of listaHospitais' value={{item.idHospital}}>{{item.nomeHospital}}   </option>
        </select>
    
      </div>


       <!--/nomeHosp-->


       <!--Especialidades-->


       <div class="form-group col-md-7">
        <label for="inputState" class="text-monospace">Especialidades:</label>
        <select id="inputState" class="form-control" [(ngModel)]='nomeCategoria' (change)='findByIdCategoria()'>
          <option *ngFor='let item of listaHospitais' value={{item.idCategoria}}>{{item.nomeCategoria}}</option>
        </select>
    
      </div>

      <!--/especialidades-->


      <!--pesquisar-->
      <div class="row mt- mb-5">
        
        <div class="col-md-1 pr-0">
      <button class="btn btn-outline-info offset-md-2 mt-5 ">
        Pesquisar 
      </button>
        </div>

    </div>


    </form>

 


       
</div>