<div class="container">
  <!-- Se não for pesquisar especialidades aqui, pode tirar -->
  <nav class="d-flex justify-content-center">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-home-tab" data-toggle="tab"
        href="#minhas-postagens" role="tab" aria-controls="nav-home" aria-selected="true">Hospitais</a>

      <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-profile-tab" data-toggle="tab"
        href="#postagens-temas" role="tab" aria-controls="nav-profile" aria-selected="false">Especialidades</a>
    </div>
  </nav>
  <!-- /Se não for pesquisar especialidades aqui, pode tirar -->

  <div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="minhas-postagens" role="tabpanel" aria-labelledby="nav-postagens-tab">
      <div class="row mt-3 mb-3">
        <div class="col-md-10 pr-0">
          <input class="form-control w-100" type="search"
            placeholder="Pesquisar hospitais - OBS: Para visualizar a lista completa pesquise por: ver todos"
            aria-label="Pesquisar" [(ngModel)]='nomeHospital'>
        </div>
        <div class="col-md-2 pl-0">
          <button class="btn btn-outline-primary w-100" type="button" (click)='findByNomeHospital()'>Pesquisar</button>
        </div>
      </div>

      <div class="row mt-5 mb-5">
        <div class="col-md-12">
          <div class="card-deck mb-5 justify-content-center d-flex flex-wrap align-self-center">
            <div class="card border-primary" style="width: 18rem;" *ngFor="let item of listaHospitais">
              <div class="card-body">
                <h5 class="card-title text-center">{{item.nomeHospital}}</h5>
                <hr>
                <h6 class="card-subtitle mb-2 text-muted text-center">Endereço: </h6>
                <p class="card-text text-center">{{item.enderecoHospital}}</p>
                <hr>
                <h6 class="mb-0 text-center text-muted">
                  <p class="mb-0">Telefone: <a [href]="'https://api.whatsapp.com/send?phone=55'+item.telefoneHospital"
                    target="_blank">{{item.telefoneHospital}}</a></p>
                </h6>

              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>

<!-- GET All Hospitais

<div class="container-fluid col-md-8">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id Hospital</th>
        <th scope="col">Nome</th>
        <th scope="col">Endereço</th>
        <th scope="col">Telefone</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of hospitalLista">
        <th scope="row">{{i.idHospital}}</th>
        <td>{{i.nomeHospital}}</td>
        <td>{{i.enderecoHospital}}</td>
        <td><a [href]="'https://api.whatsapp.com/send?phone=55'+i.telefoneHospital"
            target="_blank">{{i.telefoneHospital}}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

Get ALL Hospitais -->