<div class="container">

  <p class="h1 mt-5 p-5 text-center">Perguntas Frequentes (FAQ)</p>
  <div class="row">
    <div class="col-12">
      <div id="accordion">

        <div class="card">
          <div class="card-header" id="headingZero">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseZero"
                aria-expanded="true" aria-controls="collapseZero">
                Quais os tipos de consultas o MyHospital tem?
              </button>
            </h5>
          </div>

          <div id="collapseZero" class="collapse" aria-labelledby="headingZero" data-parent="#accordion">
            <div class="card-body">
              O MyHospital tem possibilidade de ter todos os tipos de consulta dos hospitais, mas fica restrito às parcerias com os hospitais cadastrados.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
                Como faço para agendar uma consulta?
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Para agendar a sua consulta, é só ir na aba “Pesquisar hospitais” na parte superior do site, e selecionar sua região e sua especialidade necessária, ou o nome do hospital de sua preferência. Ao escolher seu hospital, há a opção de entrar em contato com o mesmo.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                Quais as formas de pagamento disponíveis?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              É possível pagar a(s) consulta(s) por meio do cartão de crédito e débito.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                Quais são as especialidades disponíveis no MyHospital?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              As especialidades disponíveis variam de acordo com os hospitais cadastrados no nosso banco de dados.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                aria-expanded="false" aria-controls="collapseFour">
                Quais localidades o MyHospital atua?
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              Neste primeiro momento, a plataforma atua na Zona Sul de São Paulo.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                aria-expanded="false" aria-controls="collapseFive">
                É necessário ir ao hospital para finalizar o cadastro?
              </button>
            </h5>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
              Em alguns hospitais é necessário que o cliente vá ao hospital para finalizar o cadastro na consulta, mas este processo é rápido, porque o hospital já tem todas as suas informações que foram cadastradas no site. 
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSix">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                aria-expanded="false" aria-controls="collapseSix">
                As consultas podem ser agendadas para o mesmo dia?
              </button>
            </h5>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
              Sim, as consultas podem ser agendadas de acordo com a disponibilidade dos hospitais.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingEight">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight"
                aria-expanded="false" aria-controls="collapseEight">
                O MyHospital possui algum tipo de atendimento físico?
              </button>
            </h5>
          </div>
          <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
            <div class="card-body">
              Como o projeto ainda está nas fases iniciais, ainda não temos atendimento físico.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingNine">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine"
                aria-expanded="false" aria-controls="collapseNine">
                Ainda possui dúvidas?
              </button>
            </h5>
          </div>
          <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
            <div class="card-body">
              <a href="https://api.whatsapp.com/send?phone=5511967239408&text=Olá" target="_blank"
                style="color: black; font-weight: bold;">
                Clique aqui
              </a>, e entre em contato com um especialista MyHospital.
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>