<div class="container-fluid col-md-8">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Código Hospital</th>
                <th scope="col">Nome</th>
                <th scope="col">Telefone</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of hospitalLista">
                <th scope="row">{{i.idHospital}}</th>
                <td>{{i.nomeHospital}}</td>
                <td><a [href]="'https://api.whatsapp.com/send?phone55='+i.telefoneHospital"
                        target="_blank">{{i.telefoneHospital}}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
