<!--img fixa-->
<img src="https://cdn.discordapp.com/attachments/758319266763898913/773159064418648064/a20f2f5b3080d81c8a6ca21500a0fb1fb9b85366.png" class="img-fluid" alt="Imagem responsiva">
<!--/img fixa-->

<!--texto-->
<div class="container p-5">
    <div class="col-md-12 float-center">
        <div class="text-justify">
            <p class="font-italic text-monospace absolute-center">
                O Projeto MyHospital surgiu a partir da problemática da saúde pública e privada no Brasil. Todos nós sabemos dos diversos problemas que essa área possui. Portanto, nos juntamos para amenizar um deles: o tempo de espera no agendamento de consultas e exames
                em hospitais. A proposta é que os usuários acessem o site e encontrem consultas e exames nos hospitais públicos ou privados mais próximos da sua residência, agilizando o processo e o deslocamento do paciente.

            </p>
            <p class="font-italic text-monospace absolute-center">
                Por que Zona Sul? Após algumas pesquisas, notamos que a região de São Paulo com menor acesso à saúde é a Zona Sul. Pensando nisso, decidimos implantar o projeto, inicialmente, nessa área.
            </p>
            <p class="font-italic text-monospace absolute-center">
                É importante ressaltar, também, que o MyHospital é uma iniciativa com alto potencial de crescimento, porque pretendemos abranger outras áreas e até outros estados do Brasil.
            </p>
        </div>
    </div>
</div>
<!--/texto-->

<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid p-5 bgGlobal">
    <div class="container">
        <h1 class="display-4 text-center">DESENVOLVEDORES</h1>
        <p class="lead"></p>
    </div>
</div>

<!--/Jumbotron-->
<!--Card-->

<div class="container-fluid">
    <div class="row justify-content-center"></div>
    <div class="card-deck justify-content-center">
        <div class="col-md-15 d-flex justify-content-center">
            <div class="hoverzoom">
                <div class="row justify-content-center"></div>
                <img src="https://ca.slack-edge.com/T01971LJPEF-U0196RZ724S-1b7a6f1c3144-512" alt="Hover Zoom CSS3" />
                <div class="retina row">
                    <h6 class="name">André Peduti</h6>
                    <a href="https://www.linkedin.com/in/andr%C3%A9-peduti-57aa4a159/ " target="_blank " style="padding: 15px; "><img src="https://media.discordapp.net/attachments/758319266763898913/773189318990102538/9_linkedin.png?width=476&height=476
                                " style="width: 20px; height: 20px; ">
                    </a>
                    <a href="https://github.com/Andrepeduti " target="_blank " style="padding: 15px; "><img src="https://cdn.discordapp.com/attachments/758319266763898913/773189212656369664/2_github.png " style="width: 20px; height: 20px; ">
                    </a>
                </div>
            </div>
            <div class="hoverzoom">
                <img src="assets/img/camila.jpg" alt="Hover Zoom CSS3" />
                <div class="retina row">
                    <h6 class="name">Camila Andrade</h6>
                    <a href="https://www.linkedin.com/in/camila-andrade-405a1b168/ " target="_blank " style="padding: 15px; "><img src="https://media.discordapp.net/attachments/758319266763898913/773189318990102538/9_linkedin.png?width=476&height=476
                                " style="width: 20px; height: 20px; ">
                    </a>
                    <a href="https://github.com/Ca010 " target="_blank " style="padding: 15px; "><img src="https://cdn.discordapp.com/attachments/758319266763898913/773189212656369664/2_github.png " style="width: 20px; height: 20px; ">
                    </a>
                </div>
            </div>
            <div class="hoverzoom">
                <img src="https://ca.slack-edge.com/T01971LJPEF-U018S3FNWFR-b93b36a57f1a-512" alt="Hover Zoom CSS3" />
                <div class="retina  row ">
                    <h6 class="name">Leandro Paiva</h6>
                    <a href="https://www.linkedin.com/in/leandro-silva-paiva/ " target="_blank " style="padding: 15px; "><img src="https://media.discordapp.net/attachments/758319266763898913/773189318990102538/9_linkedin.png?width=476&height=476
                                    " style="width: 20px; height: 20px; ">
                    </a>
                    <a href="https://github.com/LeandroSilvaPaiva" target="_blank " style="padding: 15px; "><img src="https://cdn.discordapp.com/attachments/758319266763898913/773189212656369664/2_github.png " style="width: 20px; height: 20px; ">
                    </a>
                </div>
            </div>
            <div class="hoverzoom">
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFprKwfrdVAyA/profile-displayphoto-shrink_200_200/0?e=1609977600&v=beta&t=oy87fGc4rFR9WnkMmc5OTd3tJq7vBj5wNv1LBd5rebA" alt="Hover Zoom CSS3" />
                <div class="retina row">
                    <h6 class="name">Rebecca Medeiros</h6>
                    <a href="https://www.linkedin.com/in/rebecca-medeiros-837051107/ " target="_blank " style="padding: 15px; "><img src="https://media.discordapp.net/attachments/758319266763898913/773189318990102538/9_linkedin.png?width=476&height=476
                                        " style="width: 20px; height: 20px; ">
                    </a>
                    <a href="https://github.com/devbecc " target="_blank " style="padding: 15px; "><img src="https://cdn.discordapp.com/attachments/758319266763898913/773189212656369664/2_github.png " style="width: 20px; height: 20px; ">
                    </a>
                </div>
            </div>
            <div class="hoverzoom">
                <img src="https://ca.slack-edge.com/T01971LJPEF-U01903ZG554-54a3027f0df3-512" alt="Hover Zoom CSS3" />
                <div class="retina row">
                    <h6 class="name">Rodrigo Lazaro</h6>
                    <a href="https://www.linkedin.com/in/rodrigo-l%C3%A1zaro-9916b9158/ " target="_blank " style="padding: 15px; "><img src="https://media.discordapp.net/attachments/758319266763898913/773189318990102538/9_linkedin.png?width=476&height=476
                                            " style="width: 20px; height: 20px; ">
                    </a>
                    <a href="https://github.com/RodrigoLazaro14 " target="_blank " style="padding: 15px; "><img src="https://cdn.discordapp.com/attachments/758319266763898913/773189212656369664/2_github.png " style="width: 20px; height: 20px; ">
                    </a>
                </div>
            </div>
            <div class="hoverzoom">
                <img src="https://avatars0.githubusercontent.com/u/61765025?s=460&u=c12399c36e7c9fa32598543f8b13b120bfc7dcc5&v=4" alt="Hover Zoom CSS3" />
                <div class="retina row">
                    <h6 class="name">Vanderlan Alves</h6>
                    <a href="https://www.linkedin.com/in/vanderlanalves/ " target="_blank " style="padding: 15px; "><img src="https://media.discordapp.net/attachments/758319266763898913/773189318990102538/9_linkedin.png?width=476&height=476
                                            " style="width: 20px; height: 20px; ">
                    </a>
                    <a href="https://github.com/VanderlanAlves " target="_blank " style="padding: 15px; "><img src="https://cdn.discordapp.com/attachments/758319266763898913/773189212656369664/2_github.png " style="width: 20px; height: 20px; ">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/Cards-->